<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921685330471-gcrfdqib2e71uflabo27bv0ic3rf5toe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921685330471-gcrfdqib2e71uflabo27bv0ic3rf5toe</string>
	<key>API_KEY</key>
	<string>AIzaSyDLwkapwpQyxlfVpcR5OwwkL6uQsEXoQJA</string>
	<key>GCM_SENDER_ID</key>
	<string>921685330471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifeanyi.expense-monitor</string>
	<key>PROJECT_ID</key>
	<string>expense-monitor-58d10</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-monitor-58d10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921685330471:ios:5b83c528b70028bb65dc02</string>
</dict>
</plist>